.sidebar {
  width: 260px;

  background: #0f172a;

  color: white;

  height: 100vh;

  padding: 30px;
}

.sidebar h1 {
  margin-bottom: 8px;
}

.sidebar p {
  color: #94a3b8;

  margin-bottom: 40px;
}

.sidebar nav {
  display: flex;

  flex-direction: column;

  gap: 18px;
}

.sidebar a {
  color: white;

  text-decoration: none;

  display: flex;

  align-items: center;

  gap: 10px;
}

.sidebar button {
  background: transparent;
  border: none;
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
}
